#loading {
  display: block;
  position: absolute;
  top:0;
  left:0;
  background: rgba(256, 258, 250, .65);
  height: 100vh;
  width: 100vw;

  z-index: 1000;
}

#animation {
  position: fixed;
  height: 100px;
  width: 100px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#animation div {
  position: absolute;
  background: #58A881;
  height: 15px;
  width: 15px;
  border-radius: 360px;

  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: jump 2.75s infinite;
  animation-delay: .25s;
}

#animation div:nth-child(1) {
  left: 15%;
  animation-delay: 0s;
}

#animation div:nth-child(3) {
  left: 85%;
  animation-delay: .40s;
}

/*keyframes*/
@keyframes jump{
  0% { top: 55%;}
  20% { top: 75%; background-color: #1F8B55;}
  30% { top: 25%; background-color: #C5ECDA}
  40% { top: 55%;}
}