/*@font-face {*/
    /*font-family: roboto;*/
    /*src: url("../bower_components/font-roboto/roboto.d.ts");*/
/*}*/

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    background-size: cover;
    background: url("../photos/heroImage.jpg") repeat-x center;

    font-family: roboto, sans-serif;
}

.timePickerDialogButton {
    float: right;
    padding-bottom: 6px;
}