/*path {*/
/*fill: #ccc;*/
/*stroke: #fff;*/
/*stroke-width: .5px;*/
/*}*/

/*path:hover {*/
/*fill: red;*/
/*}*/
.states {
    fill: none;
    stroke: #212121;
    stroke-linejoin: round;
}

body {
    background-color: #ccff00;
    font-size: larger;
}

#preferences-form {
    width: 300px;
    /*float: right;*/
}

#county-data {
    grid-area: county;
    background-color: #00ff00;
    border-radius: 8px;
    transform: translate(3em, -1em) rotate(.5deg);
    width: 300px;
}

#descriptor {
    margin-top: 0;
    margin-bottom: 16px;
}

#data {
    margin: 0;
    font-size: large;
}

#map {
    margin-top: 300px;
    transform: scale(1) translate(5em, -4.5em);
    grid-area: map;
}

#container {
    display: grid;
    grid-template-columns: 400px 1fr 7em;
    grid-template-rows: 250px 8em 1fr;
    grid-row-gap: 1em;
    grid-template-areas: "options map legend" "county map legend" "county map legend";
}

#legend {
    grid-area: legend;
    margin-right: auto;
    margin-left: auto;
}

.data-element {
    margin-right: auto;
    margin-left: auto;
}

/* Color themes */
.teal-purple {
    background-image: linear-gradient(180deg, #03DAC6, #6200EE);
}

.light-blue-dark-blue {
    background-image: linear-gradient(180deg, #E1F5FE, #01579B);
}

.yellow-orange {
    background-image: linear-gradient(180deg, #FF7043, #FFEE58);
}
