.states {
    fill: none;
    stroke: #212121;
    stroke-linejoin: round;
}

body {
    font-family: Gilroy, sans-serif;
    background-color: #212121;
    color: #FFFFFF;
}

#preferences-form {
    width: 400px;
    font-size: large;
    /*float: right;*/
}

#container {
    display: grid;
    grid-template-columns: 400px 1fr 7em;
    grid-template-rows: 25px 200px 4em 1fr;
    grid-row-gap: 1em;
    grid-template-areas: "options title legend" "options map legend" "county map legend" "county map legend";
}

#page-title {
    grid-area: title;
    margin: 0;
    text-align: center;
}

#preferences-form {
    grid-area: options;
    /*background-color: #303030;*/
    padding-left: 1em;
    height: 375px;
    border-radius: 8px;
}

#county-data {
    grid-area: county;
    background-color: #303030;
    border-radius: 8px;
    margin-left: 1em;
}

#descriptor {
    margin-top: 0;
    margin-bottom: 16px;
}

#data {
    margin: 0;
    font-size: large;
}

#map {
    transform: scale(1.4) translate(0, 4.5em);
    grid-area: map;
}

.loader {
	grid-area: map;
}

#legend {
    grid-area: legend;
    margin-right: auto;
    margin-left: auto;
}

.data-element {
    margin-right: auto;
    margin-left: auto;
}

#legend-container {
    display: grid;
    grid-template-columns: 7em;
    grid-template-rows: 1.5em 1.5em 400px 1.5em;
    grid-row-gap: .3em;
    grid-template-areas: "legend-title" "min" "legend" "max";
    grid-column-gap: .5em;
    font-size: x-large;
    text-align: center;
}

#legend-title {
    grid-area: legend-title;
}

#legend-min-val {
    grid-area: min;
    text-align: center;
}

#legend {
    width: 30px;
    height: 400px;
    /*background-image: linear-gradient(to right, #FFFFFF, teal);*/
    border-radius: 8px;
    grid-area: legend;
}

#legend-max-val {
    grid-area: max;
    text-align: center;
}

.button {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px white solid;
    border-radius: 8px;
    height: 30px;
    width: 80px;
    font-family: Gilroy-Light, sans-serif;
    font-size: large;
}

a {
    color: deepskyblue;
}

/* Color themes */
.teal-purple {
    background-image: linear-gradient(180deg, #03DAC6, #6200EE);
}

.light-blue-dark-blue {
    background-image: linear-gradient(180deg, #E1F5FE, #01579B);
}

.yellow-orange {
    background-image: linear-gradient(180deg, #FFEE58, #FF7043);
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
  transform: scale(2);
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1.5s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1.5s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1.5s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
