.header {
    text-align: center;
}

body {
    width: 100%;
}

.login_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}